/* Cart CSS Start*/
.cart-products-container{position: absolute;border: 1px solid #f2f3f5;top: 0;padding: 15px;background-color: #ffffff;box-shadow: 0 0 5px 2px #d7d7d7;transition: 0.2s;z-index: 2;max-width: 420px;width: 100%;display: none;opacity: 0;right: 0;}
.cart-products-container.active{display: block; opacity: 1; transition: 0.3s;}
.cart-products-container .close-cart{display: block; font-size: 25px;cursor: pointer;margin-left: auto;width: fit-content;}
.cart-box{display: grid;grid-template-columns: 1fr 1.5fr 0.5fr;align-items: center;gap: 1rem;margin-top: 1rem;}
.cart-img{width: 100px;height: 100px;}
.cart-item-info .prod-title{font-weight: 600; font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));}
.cart-quantity{width: 2.5rem;}
.cart-remove{margin-left: auto;cursor: pointer;}
.total{border-top: 1px solid #000;margin-top: 15px;padding: 5px; gap: 10px;}
.btn-buy, .btn-buy:hover{color: #ffd814;background-color: #000;display: block;margin: 20px auto 10px auto;}
/* Cart CSS End*/