/* Work section */
.work-section{ padding-bottom: 40px;}
.work-section .page-info{
    margin-bottom: 2%;
}

/* Project List Container */
.work-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
