.skills-section-outer-container {
  background-color: color-mix(in srgb, var(--background-contrast) 50%, transparent);
}

.skills-section-inner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 3% 0;
}

.skills-section-outer-container .skills-heading {
  text-align: center;
  color: var(--primary);
  font-size: calc(24px + (50 - 24) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 5%;
}

.skills-section-outer-container .skill-item-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.skills-section-outer-container .skill-item {
  display: flex;
  gap: 10px;
  height: 100%;
  min-height: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-contrast);
  border-radius: 10px;
  padding: 15px 10px;
  border: 1px solid rgba(var(--border), 0.2);
  box-shadow: 0 4px 12px rgba(var(--border), 0.15); 
  transition: all 0.4s ease;
}

.skills-section-outer-container .skill-icon {
  max-width: 80px;
  width: 100%;
  transition: transform 0.4s ease;
  filter: drop-shadow(1px 1px 1px var(--text-color));
}

.skills-section-outer-container .skill-name {
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease, height 0.4s ease;
}

.skills-section-outer-container .skill-item:hover .skill-icon {
  transform: translateY(-10px);
}

.skills-section-outer-container .skill-item:hover .skill-name {
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: translateY(0);
}

@media (max-width:1024px){
  .skills-section-outer-container .skill-item-container{
    gap: 10px;
  }
}
@media (max-width:768px){
  .skills-section-outer-container .skill-item-container{
    grid-template-columns: repeat(4, 1fr);
  }
  .skills-section-inner-container{
    padding: 30px 0;
  }
}
@media (max-width:580px){
  .skills-section-outer-container .skill-item-container{
    margin: auto;
  }
  /* Always show skill name on small screens */
  .skill-name {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: none;
  }

  .skills-section-outer-container .skill-icon{
    max-width: 70px;
  }

  /* Disable hover effects */
  .skills-section-outer-container .skill-item:hover .skill-icon {
    transform: none;
  }

  .skills-section-outer-container .skill-name {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: none;
  }
}

@media (max-width:480px){
  .skills-section-outer-container .skill-item-container{
    grid-template-columns: repeat(2, 1fr);
  }  
}