.products-list-container{max-width:1300px;width:95%;display:grid;gap:15px;grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));}
.product-outer-container{padding:15px;border:1px solid #c1c1c1;background-color:#fff;border-radius:10px}
.product-outer-container:hover{box-shadow:0 0 2px 2px #636363;transition:.4s}
.product-img-container{box-shadow:inset 0 0 1px 1px #b1b1b1;padding:2px;width:100%;aspect-ratio:1;max-width:300px;height:auto;display:flex;justify-content:center;align-items:center;border-radius:10px}
.product-outer-container:hover .product-img-container{box-shadow:0 0 1px 1px #636363;transition:.4s}
.prod-img{max-height:100%;max-width:100%;object-fit:cover}
.prod-title{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;max-width:100%;font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));}
.prod-price{font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));}
.add-to-cart-btn{background-color:#E38E49;border:1px solid transparent;font-weight:600;display:block;margin-left:auto}
.add-to-cart-btn:hover{background-color:#E38E49;border:1px solid #636363;transition:.4s}

@media screen and (max-width: 540px) {
    .products-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 425px) {
    .products-list-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-img-container{
        max-width: 100%;
    }
}