.navbar{z-index: 1;box-shadow: 0 0 5px 2px #d7d7d7;}
.navbar-brand{font-style: italic;}
.btn-cart{height: 100%;position: relative;}
.fa-cart-shopping{font-size: 25px;}
.counter{background-color:#AE445A;border-radius:50%;padding:5px;width:25px;height:25px;display:flex;align-items:center;justify-content:center;color:#fff;position:absolute;top:0;right:-2px;border: 1px solid #978d33;}