.project-details-section .split-container {
  padding:70px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-details-section .left-panel {
  height: auto;
}

.project-details-section .proj-det-heading {
  color: var(--primary);
  margin-bottom: 1%;
  text-align: center; 
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.project-details-section .proj-det-desc {
  color: var(--text-color);
  margin-bottom: 1%;
  text-align: justify;   
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.project-details-section .skills-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.project-details-section .tech-title {
  color: var(--primary);
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 10px;
  margin-top: 2%;
  text-align: center;   
}

.project-details-section .skills-container-icons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-details-section .skill-item {
  color: var(--text-color);
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.proj-det-icon {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 3px;
}

.project-details-section .btns-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-details-section .proj-links {
  text-decoration: none;
  background-color: var(--primary-dark);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(var(--border), 0.2);
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 30px;
  font-weight: 600;
}

.project-details-section .proj-links:hover {
  background-color: var(--primary);
  color: var(--background);
  transition: 0.1s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide{
    width: 100%;
}

/* Swiper CSS Start */
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-dark); 
  width: 44px;
  height: 44px;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

/* change arrow size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: 700;
}

/* optional – position buttons closer to edges */
.swiper-button-next {
  right: 20px;
}
.swiper-button-prev {
  left: 20px;
}

/* make sure arrows are above images */
.swiper-button-next,
.swiper-button-prev {
  z-index: 10;
}

.swiper-pagination-bullet {
  background: var(--text-color);
  width: 10px;
  height: 10px;
  opacity: 1;
  border-radius: 5px;
  margin: 0 5px !important;
  border: 1px solid var(--background);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: var(--primary-dark, #3fcbfa);
  width: 20px;
  border-radius: 5px;
  border: 1px solid var(--background);
}

.right-panel, .swiper-wrapper .img-responsive{ border-radius: 10px;}
/* Swiper CSS End */

@media (max-width: 768px) {
  .split-container {
    display: block;
  }
  .left-panel {
    position: relative;
    height: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }  
  .project-details-section .tech-title{
    margin-top: 20px;
  }
  .proj-det-icon {
      width: 35px;
      height: 35px;
  }  
  .project-details-section .proj-det-desc{
    text-align: center;
  }
  .project-details-section .proj-links{
    padding: 10px;
  }
}
