.background{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  --size: 250px;
  --duration: 2s;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}
.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  animation-delay: 0.2s;
}
.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  animation-delay: 0.4s;
}
.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  animation-delay: 0.6s;
}
.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  animation-delay: 0.8s;
}

/* Center text */
.logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.logo-text {
  font-size: calc(25px + (40 - 25) * ((100vw - 991px) / (1920 - 991)));
  font-weight: 800;
  color: var(--text-color);
  animation: text-pulse var(--duration) infinite ease-in-out;
  font-family: "Allura";
}

/* Ripple animation */
@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Text pulse */
@keyframes text-pulse {
  0% {
    color: var(--text-color);
  }
  50% {
    color: var(--text-color);
  }
  100% {
    color: var(--text-color);
  }
}
